#content .container-dashboard .box-info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 24px;
}

#content .container-dashboard .box-info li {
    padding: 24px;
    background: var(--light);
    border-radius: 15px;
    display: flex;
    align-items: center;
    grid-gap: 24px;
    box-shadow: 0 1px 15px 1px rgba(41, 31, 88, 0.08);
}

#content .container-dashboard .box-info li .cards-cant {
    font-size: 20px;
    font-weight: 650;
}

#content .container-dashboard .box-info li .bx {
    min-width: 60px;
    height: 60px;
    border-radius: 10px;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content .container-dashboard .box-info li:nth-child(1) .bx {
    background: var(--blue);
    color: var(--light-blue);
}

#content .container-dashboard .box-info li:nth-child(2) .bx {
    background: var(--yellow);
    color: var(--light-yellow);
}

#content .container-dashboard .box-info li:nth-child(3) .bx {
    background: var(--orange);
    color: var(--light-orange);
}

#content .container-dashboard .box-info li:nth-child(4) .bx {
    background: var(--red);
    color: var(--light-red);
}


#content .container-dashboard .box-info li .text h3 {
    font-size: 24px;
    font-weight: 600;
    color: var(--dark);
}

#content .container-dashboard .box-info li .text p {
    color: var(--dark);
}

.container-charts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-top: 35px;
}

.container-charts div {
    border-radius: 15px;
}


/* ---------TABLA NOTIFICACIONES POR EVENTOS----------- */
.container-dashboard .container-table-eventos {
    font-size: 12px;
    width: 100%;
    border-radius: 20px !important;
    border-collapse: collapse;
}

.container-dashboard .container-table-eventos th {
    padding: 6px 8px;
    text-align: center;
}

.container-dashboard .container-table-eventos td {
    text-align: center;
    padding: 6px 8px;
}

.container-dashboard table th:first-child,
.container-dashboard table td:first-child {
    border-left: none;
}

.container-dashboard table th:last-child,
.container-dashboard table td:last-child {
    border-right: none;
}

.container-dashboard table tr:first-child th,
table tr:first-child td {
    border-top: none;
}

.container-dashboard table tr:last-child th,
.container-dashboard table tr:last-child td {
    border-bottom: none;
}

.container-dashboard .cont-table {
    overflow: hidden;
    padding-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 1px 15px 1px rgba(52, 40, 104, .08);
}

.container-dashboard .container-table-eventos th {
    padding: 8px 10px;
}

.container-dashboard .container-table-eventos thead {
    background-color: #ffffff;
    color: #0f0f0f;
    border-bottom: 1px solid #dddddd;
}

/* ---------TABLA NOTIFICACIONES POR EVENTOS----------- */


/* ---------CARDS NOTIFICACIONES POR OPERADOR Y VEHICULO----------- */
.widget-cant-not-vehiculos {
    border-radius: 10px;
    overflow: hidden;
    height: 100%;
    box-shadow: 0 1px 15px 1px rgba(52, 40, 104, .08);
}

.media-right span {
    color: #262b77;
    font-size: 21px !important;
    font-weight: 800;
}

.media-right .like {
    display: flex !important;
    align-items: center;
}

/* ---------CARDS NOTIFICACIONES POR OPERADOR Y VEHICULO----------- */
@media screen and (min-width: 1510px) {
    /* Reglas de estilo aquí */
    .page-header.dashboard{
        padding: 0 15px 10px 15px;
    }

    .container-dashboard{
        margin-bottom: 40px;
    }

}

@media screen and (max-width: 1500px) {
    .page-header {
        padding: 0 15px 10px 15px;
    }

    .container-dashboard{
        margin-bottom: 40px;
    }

}

@media screen and (max-width: 906px) {
    #content .container-dashboard .box-info {
        grid-template-columns: 1fr;
    }

    .container-charts {
        grid-template-columns: 1fr;
    }

    .page-header.dashboard{
        padding: 0 15px 10px 15px;
    }
}