#content .container-dashboard .box-info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 24px;
}

#content .container-dashboard .box-info li {
    padding: 24px;
    background: var(--light);
    border-radius: 15px;
    display: flex;
    align-items: center;
    grid-gap: 24px;
    box-shadow: 0px 0px 10px -4px rgba(145, 145, 145, 0.7);
    -webkit-box-shadow: 0px 0px 10px -4px rgba(105, 105, 105, 0.7);
    -moz-box-shadow: 0px 0px 10px -4px rgba(155, 155, 155, 0.7);
}

#content .container-dashboard .box-info li .cards-cant {
    font-size: 20px;
    font-weight: 650;
}

#content .container-dashboard .box-info li .bx {
    min-width: 60px;
    height: 60px;
    border-radius: 10px;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content .container-dashboard .box-info li:nth-child(1) .bx {
    background: var(--light-blue);
    color: var(--blue);
}

#content .container-dashboard .box-info li:nth-child(2) .bx {
    background: var(--light-yellow);
    color: var(--yellow);
}

#content .container-dashboard .box-info li:nth-child(3) .bx {
    background: var(--light-orange);
    color: var(--orange);
}

#content .container-dashboard .box-info li:nth-child(4) .bx {
    background: var(--light-blue);
    color: var(--blue);
}

#content .container-dashboard .box-info li:nth-child(5) .bx {
    background: var(--light-yellow);
    color: var(--yellow);
}

#content .container-dashboard .box-info li:nth-child(6) .bx {
    background: var(--light-orange);
    color: var(--orange);
}

#content .container-dashboard .box-info li:nth-child(7) .bx {
    background: var(--light-blue);
    color: var(--blue);
}

#content .container-dashboard .box-info li:nth-child(8) .bx {
    background: var(--light-yellow);
    color: var(--yellow);
}

#content .container-dashboard .box-info li:nth-child(9) .bx {
    background: var(--light-orange);
    color: var(--orange);
}

#content .container-dashboard .box-info li .text h3 {
    font-size: 24px;
    font-weight: 600;
    color: var(--dark);
}

#content .container-dashboard .box-info li .text p {
    color: var(--dark);
}

.container-charts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-top: 35px;
}

.container-charts div {
    border-radius: 15px;
}


/* Dashboard clientes */
.container-dashboard .container-table-eventos {
    font-size: 12px;
    width: 100%;
    border-radius: 20px !important;
    border-collapse: collapse;
}

.container-dashboard .container-table-eventos th {
    padding: 6px 8px;
    text-align: center;
}

.container-dashboard .container-table-eventos td {
    text-align: center;
    padding: 6px 8px;
}

.container-dashboard table th:first-child,
.container-dashboard table td:first-child {
    border-left: none;
}

.container-dashboard table th:last-child,
.container-dashboard table td:last-child {
    border-right: none;
}

.container-dashboard table tr:first-child th,
table tr:first-child td {
    border-top: none;
}

.container-dashboard table tr:last-child th,
.container-dashboard table tr:last-child td {
    border-bottom: none;
}

.container-dashboard .cont-table {
    overflow: hidden;
    border-radius: 2px;
    box-shadow: 0px 0px 10px -4px rgba(145, 145, 145, 0.7);
    -webkit-box-shadow: 0px 0px 10px -4px rgba(105, 105, 105, 0.7);
    -moz-box-shadow: 0px 0px 10px -4px rgba(155, 155, 155, 0.7);
}

.container-dashboard .container-table-eventos th {
    padding: 8px 10px;
}

.container-dashboard .container-table-eventos thead {
    background-color: #ffffff;
    color: #0f0f0f;
    border-bottom: 1px solid #dddddd;
}

.widget-cant-not-vehiculos{
    border-radius: 0;
    height: 100%;
    box-shadow: 0px 0px 10px -4px rgba(145, 145, 145, 0.7);
    -webkit-box-shadow: 0px 0px 10px -4px rgba(105, 105, 105, 0.7);
    -moz-box-shadow: 0px 0px 10px -4px rgba(155, 155, 155, 0.7);
}

.mychart-horizontal-operadores{
    max-height: 350px;
    padding: 0 30px;
}

.media-right span{
    font-size: 30px !important;
    font-weight: 800;
}

.media-right .like{
    display: flex !important;
    align-items: center;
}

@media screen and (max-width: 906px) {
    #content .container-dashboard .box-info {
        grid-template-columns: 1fr;
    }

    .container-charts {
        grid-template-columns: 1fr;
    }
}