.widget-body .edit-evento {
    overflow: hidden;
}

.widget-body .datos-evento {
    padding-left: 10px;
}

.widget-body .datos-evento .mapa-evento {
    height: 500px;
    width: 100%;
    z-index: 999;
    padding-right: 10px;
    overflow: hidden;
}

.widget-body .datos-evento .container-datos {
    width: 100%;
    padding: 0;
    margin: 0;
}

.widget-body .datos-evento .cont-resp-prede {
    display: grid;
    grid-template-columns: 19% 19% 19% 19% 19%;
    justify-content: center;
    gap: 5px;
    padding-left: 3px;
    margin-right: 10px;
}

.widget-body .datos-evento .cont-resp-prede button {
    font-size: 10px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.widget-body .datos-evento .table-comentarios {
    width: 100%;
}

.widget-body .datos-evento .table-comentarios thead {
    background-color: #c46868;
    color: #ffffff;
}

.widget-body .datos-evento .table-comentarios td {
    border: 1px solid #bebebe;
    padding: 10px 15px;
}

.widget-body .datos-evento .table-comentarios th {
    border: 1px solid #bebebe;
    padding: 10px 15px;
}

@media screen and (max-width: 906px) {
    .widget-body .datos-evento .cont-resp-prede {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        width: 95%;
        margin: 0 auto;
        padding: 3px 5px;
    }

    .widget-body .datos-evento .container-datos {
        padding-top: 10px;
    }

    .widget-body .datos-evento .table-comentarios {
        font-size: 0.9em;
    }
}

@media (max-width: 576px) {
    .page-header.edit-noti {
        padding-top: 10px;
        padding-bottom: 20px;
    }

    .page-header.edit-noti .page-header-title {
        font-size: 14px;
    }

    .btn-ult {
        margin-top: 4px;
        font-size: 12px;
        padding: 10px 15px;
    }

    .widget-body .datos-evento .cont-resp-prede {
        grid-template-columns: 50% 50%;
        width: 90%;
        margin-left: 15px;
    }

    .table-cont-comentarios {
        overflow-x: scroll;
        max-width: 100%;
        width: 600px;
        /* ajusta el ancho según tus necesidades */
    }

    .widget-body .datos-evento .table-comentarios {
        font-size: 0.8em;
    }

    .btn-regresar {
        padding: 5px 5px;
        width: 150px;
        font-size: 10px;
        width: auto;
        box-sizing: border-box;
        margin-right: 5px;
    }

    .btn-regresar span {
        margin-right: 25px;
    }

    .widget-header.edit-noti h4 {
        font-size: 14px;
    }
}