/* --------------------VER NOTIFICACIONES---------------------- */
.table-responsive .table-notifications thead {
    background-color: #c46868;
    color: #ffffff;
}

.table-responsive table{
    margin: none;
    width: 100% !important;
}

.table-responsive .table-notifications {
    border-collapse: collapse !important;
    border: 1px solid black !important;
}

.table-responsive .table-notifications tr{
  height: 20px !important;
}

.table-responsive .table-notifications td, .table-responsive .table-notifications th {
    border: 1px solid #ddd;
}

.table-responsive .table-notifications td.prioridad{
    border: none;
    height: 100% !important;
}

.table-responsive .table-notifications thead:hover {
    background-color: #c46868;
}

/* ACORDEN DE CHECKBOX SELECT A COLUMNAS */
.widget-notificaciones .accordion {
    padding:0 30px;
    background-color: none !important;
    box-shadow: none !important;
}
  
  /* Estilo del acordeon de los filtros de columnas */
 .widget-notificaciones .accordion-filtros-columnas {
    background-color: #6a66a0;
    border: none;
    padding: 10px 30px;
    width: 100%;
    text-align: left;
    font-size: 14px;
    cursor: pointer;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
  }

  .widget-notificaciones .accordion-filtros-columnas i{
    font-size: 20px;
  }
  /* Agregar animaciones de transición */
  .widget-notificaciones .accordion .accordion-content-filtros-columnas{
    padding: 0 15px;
    margin: 0 7px;
    background-color: #e7e7e7;
    border-radius: 0 0 10px 10px;
    max-height: 0;
    overflow: hidden;
    transition: all 0.8s;
  }
  
  .widget-notificaciones .accordion .accordion-content-filtros-columnas.abierto{
    max-height: 100px;
  }
  .widget-notificaciones .accordion .accordion-content-filtros-columnas span{
    padding: 0 10px;
  }
  


