{% extends 'layout.html' %}
{% block body %}
<!-- Begin Preloader -->
<div class="container-fluid tipo-evento">
    <div class="row">
        <div class="page-header">
            <div class="d-flex align-items-center">
                <h2 class="page-header-title">Respuestas predefinidas</h2>
                <div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#"><i class='bx bx-calendar-event'></i></a>
                        </li>
                        <li class="breadcrumb-item active">Respuestas notificaciones</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Page Header -->
    <div class="row">
        <div class="col-xl-12">
            <!-- Sorting -->
            <div class="widget has-shadow pt-4 pb-4">
                <div id="widget-body" class="widget-body">
                    <div class="table-responsive">
                        <button class="btn btn-success mb-3" id="crear-resp-notificacion" data-id-resp="{{dataresp._id}}">Crear nuevo</button>
                        <table id="table-respuestas-predefinidas" class="table mb-0">
                            <thead>
                                <tr>
                                    <th>Sigla</th>
                                    <th>Texto</th>
                                    <th>Acción</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for resp in dataresp.respuestas %}
                                <tr>
                                    <td>{{resp.sigla}}</td>
                                    <td>{{resp.text}}</td>
                                    <td class="actions">
                                        <a href="#" class="editarRespPre" data-id-resp="{{dataresp._id}}" data-cod-resp="{{resp.codigo}}"><i
                                                class="bx bx-edit edit"></i></a>
                                        <a href="#" class="eliminarRespPre" data-id-resp="{{dataresp._id}}" data-cod-resp="{{resp.codigo}}"><i
                                                class="bx bx-x delete"></i></a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- End Sorting -->
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="{{url_for('static', filename='js/respuestas_predefinidas.js')}}" defer></script>
{% endblock %}