{% extends 'layout.html' %}
{% block body %}
<div class="container-fluid cuentas">
    <div class="row">
        <div class="page-header">
            <div class="d-flex align-items-center">
                <h2 class="page-header-title">Administrar cuentas</h2>
                <div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="db-default.html"><i class='bx bx-bell'></i></a></li>
                        <li class="breadcrumb-item active">Administrar cuentas</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% if datauser.CodCuenta == "0000" %}
    <div class="row">
        <div class="col-xl-12">
            <div id="content">
                <div class="table-data usuarios">
                    <div class="order">
                        <div class="head">
                            <h3>Cuentas</h3>
                            <button id="crearCuentaMaestra" class="btn btn-success">Crear cuenta</button>
                        </div>
                        <table>
                            <thead>
                                <tr>
                                    <th>Empresa</th>
                                    <th>Codigo de cuenta</th>
                                    <th>Status</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for usuario in datacuentas %}
                                <tr>
                                    <td>
                                        <img src="{{url_for('static', filename='img/user-img-web.png')}}">
                                        <div>{{usuario.empresa}}</div>
                                    </td>
                                    <td>{{usuario.cod_cuenta}}</td>
                                    {% if usuario.estado == True %}
                                    <td><span class="status true">Activo</span></td>
                                    {% else %}
                                    <td><span class="status false">Desactivada</span></td>
                                    {% endif %}
                                    <td class="actions">
                                        <a href="#" class="editar-cuenta" data-cuenta-id="{{usuario.ID}}"><i
                                                class="bx bx-edit edit"></i></a>
                                        <a href="#" class="delete-cuenta" data-cuenta-id="{{usuario.ID}}"><i
                                                class="bx bx-x delete"></i></a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="accordion todo">
                        <div class="head">
                            <h3>Clientes x cuenta</h3>
                            <button id="crearCuentaCliente" class="btn btn-primary text-color-white">Crear
                                cliente</button>
                        </div>
                        <ul class="todo-list">
                            {% for usuario in datacuentas %}
                            <li class="li completed accordion-header">
                                <p class="accordion-title">{{usuario.empresa}}</p>
                                <i class='bx bx-plus'></i>
                            </li>
                            <div class="accordion-body">
                                {% for cliente in usuario.clientes %}
                                <li class="li not-completed">
                                    <p>{{cliente.empresa}} / {{cliente.cod_cliente}} / {{cliente.rol}}
                                    </p>
                                    <div>
                                        <a href="#" class="editar-cliente" data-cuenta-id="{{usuario.ID}}"
                                            data-cod-cliente="{{cliente.cod_cliente}}"><i
                                                class="bx bx-edit edit"></i></a>
                                        <a href="#" class="delete-cliente" data-cuenta-id="{{usuario.ID}}"
                                            data-cod-cliente="{{cliente.cod_cliente}}"><i
                                                class="bx bx-x delete"></i></a>
                                    </div>
                                </li>
                                {% endfor %}
                            </div>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ----------------Lo que se va a mostrar cuando ingrese una cuenta que no sea ROOT------------------------- -->
    {% elif datauser.CodCliente == "All" %}
    <div class="row">
        <div class="col-xl-12">
            <div id="content">
                <div class="table-data usuarios">
                    <div class="order">
                        <div class="head">
                            <h3>Clientes</h3>
                            <button id="crearCliente-2" class="btn btn-success">Crear cliente</button>
                        </div>
                        <table>
                            <thead>
                                <tr>
                                    <th>Empresa</th>
                                    <th>Codigo de cliente</th>
                                    <th>Status</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for usuario in datacuentas[0].clientes %}
                                {% if usuario.rol == "Administrador" %}
                                <tr>
                                    <td>
                                        <img src="{{url_for('static', filename='img/user-img-web.png')}}">
                                        <div>{{usuario.empresa}}</div>
                                    </td>
                                    <td>{{usuario.cod_cliente}}</td>
                                    {% if usuario.estado == True %}
                                    <td><span class="status true">Activo</span></td>
                                    {% else %}
                                    <td><span class="status false">Desactivada</span></td>
                                    {% endif %}
                                    <td class="actions">
                                        <a href="#" class="editar-cliente-2" data-cuenta-id="{{datacuentas[0].ID}}"
                                            data-cod-cliente="{{usuario.cod_cliente}}"><i
                                                class="bx bx-edit edit"></i></a>
                                        <a href="#" class="delete-cliente-2" data-cuenta-id="{{datacuentas[0].ID}}"
                                            data-cod-cliente="{{usuario.cod_cliente}}"><i
                                                class="bx bx-x delete"></i></a>
                                    </td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="accordion todo">
                        <div class="head">
                            <h3>Usuarios por clientes</h3>
                            <button id="crearUsuarioXCliente" class="btn btn-primary text-color-white">Crear
                                usuario</button>
                        </div>
                        <ul class="todo-list">
                            {% for cliente in datacuentas[0].clientes %}
                            {% if cliente.rol == "Administrador" %}
                            <li class="li completed accordion-header">
                                <p class="accordion-title">{{cliente.empresa}}</p>
                                <i class='bx bx-plus'></i>
                            </li>
                            <div class="accordion-body">
                                {% for usuarios in datacuentas[0].clientes %}
                                {% if usuarios.empresa == cliente.empresa %}
                                <li class="li not-completed">
                                    <p>{{usuarios.empresa}} / {{usuarios.cod_cliente}} / {{usuarios.rol}}
                                    </p>
                                    <div>
                                        <a href="#" class="editarUsuarioXCliente" data-cuenta-id="{{datacuentas[0].ID}}"
                                            data-cod-cliente="{{usuarios.cod_cliente}}"><i
                                                class="bx bx-edit edit"></i></a>
                                        <a href="#" class="delete-clienteUsuario" data-cuenta-id="{{datacuentas[0].ID}}"
                                            data-cod-cliente="{{usuarios.cod_cliente}}"><i
                                                class="bx bx-x delete"></i></a>
                                    </div>
                                </li>
                                {% endif %}
                                {% endfor %}
                            </div>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ----------------Lo que se va a mostrar cuando ingrese un cliente de una cuenta------------------------- -->
    {% elif datauser.CodCliente != "All" %}
    <div class="row">
        <div class="col-xl-12">
            <div id="content">
                <div class="table-data usuarios">
                    <div class="order">
                        <div class="head">
                            <h3>Clientes</h3>
                            <button id="crearusuario-2" data-rp-empresa="{{datauser.Empresa}}" data-rp-ruc="{{datauser.Ruc}}" class="btn btn-success">Crear usuario</button>
                        </div>
                        <table>
                            <thead>
                                <tr>
                                    <th>Empresa</th>
                                    <th>Usuario</th>
                                    <th>Codigo usuario</th>
                                    <th>Codigo de cuenta</th>
                                    <th>Rol</th>
                                    <th>Status</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for usuario in datacuentas[0].clientes %}
                                {% if usuario.empresa == datauser.Empresa %}
                                <tr>
                                    <td>
                                        <img src="{{url_for('static', filename='img/user-img-web.png')}}">
                                        <div>{{usuario.empresa}}</div>
                                    </td>
                                    <td>{{usuario.usuario}}</td>
                                    <td>{{usuario.cod_cliente}}</td>
                                    <td>{{datacuentas[0].cod_cuenta}}</td>
                                    <td>{{usuario.rol}}</td>
                                    {% if usuario.estado == True %}
                                    <td><span class="status true">Activo</span></td>
                                    {% else %}
                                    <td><span class="status false">Desactivada</span></td>
                                    {% endif %}
                                    <td class="actions">
                                        <a href="#" class="editarUsuarioXCliente2" data-cuenta-id="{{datacuentas[0].ID}}"
                                            data-cod-cliente="{{usuario.cod_cliente}}"><i
                                                class="bx bx-edit edit"></i></a>
                                        <a href="#" class="delete-clienteUsuario2" data-cuenta-id="{{datacuentas[0].ID}}"
                                            data-cod-cliente="{{usuario.cod_cliente}}"><i
                                                class="bx bx-x delete"></i></a>
                                    </td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10" defer></script>
<script src="{{url_for('static', filename='js/admin_cuentasroot.js')}}" defer></script>
<script src="{{url_for('static', filename='js/admin_usuarios.js')}}" defer></script>
<script src="{{url_for('static', filename='js/admin_clientes.js')}}" defer></script>
{% endblock %}