{% extends 'layout.html' %}
{% block body %}
<div id="content" class="container-fluid">
  <div class="row">
    <div class="page-header dashboard">
      <div class="d-flex align-items-center">
        <h2 class="page-header-title">Dashboard</h2>
        <div>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="#"><i class='bx bx-calendar-event'></i></a>
            </li>
            <li class="breadcrumb-item active">Dashboard</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container-dashboard">
    <div class="">
      <!-- Cards -->
      <ul class="box-info mb-3">
        <li class="">
          <i class='bx bxs-group'></i>
          <span class="text">
            <h4>Total clientes</h4>
            <p class="cards-cant" id="card-cant-clientes"></p>
            <div>
            </div>
          </span>
        </li>
        <li class="">
          <i class='bx bxs-bell'></i>
          <span class="text">
            <h4>Total eventos</h4>
            <p class="cards-cant" id="card-cant-notifications"></p>
            <div>
            </div>
          </span>
        </li>
        <li class="">
          <i class='bx bxs-truck'></i>
          <span class="text">
            <h4>Total vehiculos</h4>
            <p class="cards-cant" id="card-cant-vehiculos"></p>
            <div>
            </div>
          </span>
        </li>
        <li class="">
          <i class='bx bxs-truck'></i>
          <span class="text">
            <h4>En beta</h4>
            <p class="cards-cant">85</p>
            <div>
            </div>
          </span>
        </li>
      </ul>
      <!-- Charts -->
      <div class="mb-8 container-charts">
        <div class="border p-3">
          <h4 class="mb-4 font-semibold text-gray-800 dark:text-gray-300">
            Eventos por mes
          </h4>
          <canvas id="mychartlinechart"></canvas>
        </div>
        <div class="border p-3">
          <h4 class="mb-4 font-semibold text-gray-800 dark:text-gray-300">
            Eventos por clientes
          </h4>
          <canvas id="barrahorizontal"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="{{url_for('static', filename='js/dashboard_cuentas.js')}}" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script src="{{url_for('static', filename='js/charts/charts.js')}}" defer></script>
{% endblock %}