{% extends 'layout.html' %}
{% block body %}
<div id="content" class="container-fluid">
    <div class="row">
        <div class="page-header">
            <div class="d-flex align-items-center">
                <h2 class="page-header-title">Dashboard</h2>
                <div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#"><i class='bx bx-calendar-event'></i></a>
                        </li>
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container-dashboard">
        <div class="cont-table">
            <table  class="container-table-eventos">

            </table>
        </div>
        <ul class="box-info mb-3 mt-3">
            <li class="border">
                <i class='bx bxs-group'></i>
                <span class="text">
                    <h4>Total clientes</h4>
                    <p class="cards-cant">12</p>
                    <div>
                    </div>
                </span>
            </li>
            <li class="border">
                <i class='bx bxs-bell'></i>
                <span class="text">
                    <h4>Total eventos</h4>
                    <p class="cards-cant">1453</p>
                    <div>
                    </div>
                </span>
            </li>
            <li class="border">
                <i class='bx bxs-truck'></i>
                <span class="text">
                    <h4>Total vehiculos</h4>
                    <p class="cards-cant">85</p>
                    <div>
                    </div>
                </span>
            </li>
            <li class="border">
                <i class='bx bxs-truck'></i>
                <span class="text">
                    <h4>Total vehiculos</h4>
                    <p class="cards-cant">85</p>
                    <div>
                    </div>
                </span>
            </li>
        </ul>
        <div class="row gap-3">
            <div class="col-lg-6">
                <div class="container-table-eventos">
                    <div class="cont-table">
                        <table id="container-table-eventos" class="table align-items-center mb-0">
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="container-table-eventos">
                    <div class="cont-table">
                        <table id="container-table-vehiculos" class="table align-items-center mb-0">
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{{url_for('static', filename='js/dashboard.js')}}" defer></script>
<script src="{{url_for('static', filename='js/charts/charts-bars-horizontal.js')}}" defer></script>
<script src="{{url_for('static', filename='js/charts/charts-bars.js')}}" defer></script>
<script src="{{url_for('static', filename='js/charts/charts-lines.js')}}" defer></script>
<script src="{{url_for('static', filename='js/charts/charts-pie.js')}}" defer></script>
{% endblock %}