{% extends 'layout.html' %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="page-header">
            <div class="d-flex align-items-center">
                <h2 class="page-header-title">Notificaciones</h2>
                <div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#"><i class='bx bx-calendar-event'></i></a>
                        </li>
                        <li class="breadcrumb-item active">Notificaciones</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Page Header -->
    <div class="row">
        <div class="col-xl-12">
            <!-- Sorting -->
            <div class="widget has-shadow widget-notificaciones">
                <div class="widget-header bordered no-actions d-flex align-items-center">
                    <h4>Consultar notificación</h4>
                </div>
                <ul class="accordion">
                    <li>
                        <div class="accordion-filtros-columnas" onclick="acordeonFiltroColumnasTabla()"> <span><i class='bx bx-filter'></i> Seleccionar columnas</span><i
                                class='bx bx-chevron-down icon-arrow-1'></i></div>
                        <div class="accordion-content-filtros-columnas" id="accordion-content-filtros-columnas">
                            <div class="pt-3 pb-3">
                                {% if datauser.CodCuenta == "0000" %}
                                <span><input type="checkbox" id="chk_cod_cuenta" checked data-column="0"> Sigla
                                    cuenta</span>
                                <span><input type="checkbox" id="chk_cod_cliente" checked data-column="1"> Sigla
                                    cliente</span>
                                <span><input type="checkbox" id="chk_cod_evento" checked data-column="2"> Código
                                    evento</span>
                                <span><input type="checkbox" id="chk_placa" checked data-column="3"> Placa</span>
                                <span><input type="checkbox" id="chk_fecha_recepcion" checked data-column="4"> Fecha
                                    recepción</span>
                                <span><input type="checkbox" id="chk_velocidad" checked data-column="5"> Velocidad</span>
                                <span><input type="checkbox" id="chk_direccion" checked data-column="6"> Dirección</span>
                                <span><input type="checkbox" id="chk_estado" checked data-column="7"> Estado</span>
                                <span><input type="checkbox" id="chk_fecha_ult_accion" checked data-column="8"> Fecha ultima
                                    acción</span>
                                <span><input type="checkbox" id="chk_prioridad" checked data-column="9"> Prioridad</span>
                                <span><input type="checkbox" id="chk_prioridad" checked data-column="10"> Acciones</span>
                                {% elif datauser.CodCliente == "All" %}
                                <span><input type="checkbox" id="chk_cod_cliente" checked data-column="0"> Sigla
                                    cliente</span>
                                <span><input type="checkbox" id="chk_cod_evento" checked data-column="1"> Código
                                    evento</span>
                                <span><input type="checkbox" id="chk_placa" checked data-column="2"> Placa</span>
                                <span><input type="checkbox" id="chk_fecha_recepcion" checked data-column="3"> Fecha
                                    recepción</span>
                                <span><input type="checkbox" id="chk_velocidad" checked data-column="4"> Velocidad</span>
                                <span><input type="checkbox" id="chk_direccion" checked data-column="5"> Dirección</span>
                                <span><input type="checkbox" id="chk_estado" checked data-column="6"> Estado</span>
                                <span><input type="checkbox" id="chk_fecha_ult_accion" checked data-column="7"> Fecha ultima
                                    acción</span>
                                <span><input type="checkbox" id="chk_prioridad" checked data-column="8"> Prioridad</span>
                                <span><input type="checkbox" id="chk_prioridad" checked data-column="9"> Acciones</span>
                                {% else %}
                                <span><input type="checkbox" id="chk_cod_evento" checked data-column="0"> Código
                                    evento</span>
                                <span><input type="checkbox" id="chk_placa" checked data-column="1"> Placa</span>
                                <span><input type="checkbox" id="chk_fecha_recepcion" checked data-column="2"> Fecha
                                    recepción</span>
                                <span><input type="checkbox" id="chk_velocidad" checked data-column="3"> Velocidad</span>
                                <span><input type="checkbox" id="chk_direccion" checked data-column="4"> Dirección</span>
                                <span><input type="checkbox" id="chk_estado" checked data-column="5"> Estado</span>
                                <span><input type="checkbox" id="chk_fecha_ult_accion" checked data-column="6"> Fecha ultima
                                    acción</span>
                                <span><input type="checkbox" id="chk_prioridad" checked data-column="7"> Prioridad</span>
                                <span><input type="checkbox" id="chk_prioridad" checked data-column="8"> Acciones</span>
                                {% endif %}
                            </div>
                        </div>
                    </li>
                </ul>
                <div id="widget-body" class="widget-body">
                    <div class="table-responsive">
                        <table id="sorting-table" class="table table-notifications mb-0">
                            <thead>
                                <tr>
                                    {% if datauser.CodCuenta == "0000" %}
                                    <th style="max-width:70px;">Sigla cuenta</th>
                                    <th style="max-width:70px;">Sigla cliente</th>
                                    {% elif datauser.CodCliente == "All" %}
                                    <th style="max-width:70px;">Sigla cliente</th>
                                    {% endif %}
                                    <th style="max-width:70px;">Código evento</th>
                                    <th style="max-width:70px;">Placa</th>
                                    <th style="max-width:120px;">Fecha recepción</th>
                                    <th style="max-width:60px;">Velocidad</th>
                                    <th><span style="width:fit-content;">Dirección</span></th>
                                    <th style="max-width:60px;">Estado</th>
                                    <th style="max-width:120px;">Fecha ultima acción</th>
                                    <th style="max-width:40px">Prioridad</th>
                                    <th style="max-width:40px;">Acción</th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- End Sorting -->
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11" defer></script>
{% if msgerror %}
<script defer>
    window.onload = function () {
        Swal.fire({
            title: "Error",
            text: "{{ msgerror }}",
            icon: "error"
        });
    };
</script>
{% endif %}
<script src="{{url_for('static', filename='js/tabla_notificaciones.js')}}" defer></script>
{% endblock %}