{% extends 'layout.html' %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="page-header">
            <div class="d-flex align-items-center">
                <h2 class="page-header-title">Reporte Notificaciones</h2>
                <div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#"><i class='bx bx-calendar-event'></i></a>
                        </li>
                        <li class="breadcrumb-item active">Reporte Notificaciones</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12">
            <!-- Sorting -->
            <div class="widget has-shadow widget-notificaciones">
                <div class="widget-header bordered no-actions d-flex align-items-center">
                    <h4>Generar reporte</h4>
                </div>
                <div id="widget-body" class="widget-body">
                    <div class="table-responsive">
                        <div class="container-form-filtros">
                            <form id="myForm" class="form-inline me-2">
                                <div class="mr-3">
                                    <label for="fecha-desde">Fecha desde:</label>
                                    <input type="date" id="fecha-desde" name="fecha_desde"
                                        class="form-control mb-2">
                                </div>
                                <div class="mr-3">
                                    <label for="fecha-hasta">Fecha hasta:</label>
                                    <input type="date" id="fecha-hasta" name="fecha_hasta"
                                        class="form-control mb-2">
                                </div>
                                <div class="mr-3">
                                    <label for="placa">Placa:</label>
                                    <input type="text" id="placa" name="placa" class="form-control  mb-2">
                                </div>
                                <div class="mr-3">
                                    <label for="estados">Tipo evento</label>
                                    <select name="select-eventos" class="form-control mb-2" id="select-eventos">
                                        <option value="">Selecciona</option>
                                        {% for evento in datatipoevento %}
                                        <option value="{{evento.cod_evento}}">{{evento.cod_evento}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="mr-3">
                                    <label for="estados">Estados</label>
                                    <select name="select-estados" class="form-control mb-2" id="select-estados">
                                        <option value="" selected>Selecciona</option>
                                        <option value="Sin Atender">Sin Atender</option>
                                        <option value="En Gestion">En gestión</option>
                                        <option value="Confirmado">Confirmado</option>
                                        <option value="Descartado">Descartado</option>
                                    </select>
                                </div>
                                <div class="d-flex align-items-center">
                                    <button type="submit" class="btn btn-primary mt-2">Filtrar</button>
                                </div>
                            </form>
                        </div>
                        <table id="table-reporte-notificaciones" class="table table-notifications reportes mb-0">
                            <thead>
                                <tr>
                                    <th>Código evento</th>
                                    <th>Prioridad</th>
                                    <th>Placa</th>
                                    <th><span style="width:60px;">Fecha</span></th>
                                    <th>Hora</th>
                                    <th>Velocidad</th>
                                    <th><span style="width:100px;">Dirección</span></th>
                                    <th>Geocerca</th>
                                    <th><span style="width:90px;">Ult. acción</span></th>
                                    <th>Estado</th>
                                    <th>Usuario</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for notificacion in datanoti %}
                                <tr>
                                    <td class="td-reportes">{{notificacion.cod_evento}}</td>
                                    <td class="td-reportes">{{notificacion.prioridad}}</td>
                                    <td class="td-reportes">{{notificacion.placa}}</td>
                                    <td class="td-reportes"><span style="min-width:fit-content;">{{notificacion.fecha}}</span></td>
                                    <td class="td-reportes">{{notificacion.hora}}</td>
                                    <td class="td-reportes">{{notificacion.velocidad}}</td>
                                    <td class="td-reportes"><span style="min-width:fit-content;">{{notificacion.direccion}}</span></td>
                                    <td class="td-reportes">{{notificacion.geocerca}}</td>
                                    <td class="td-reportes"><span style="min-width:fit-content;">{{notificacion.fecha_ultima_accion}}</span></td>
                                    <td class="td-reportes">{{notificacion.descripcion_estado}}</td>
                                    <td class="td-reportes">{{notificacion.usuario}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10" defer></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script src="{{url_for('static', filename='js/reporte_notificaciones.js')}}" defer></script>
{% endblock %}